/* 폰트 설정 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '레시피코리아';
    src: url('/font/recipeKorea.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HS-Regular';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Binggrae';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/*여기부분은 styles.css와 동일 (성민님 헤더 그대로 가져옴)*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 전체 화면을 최소 높이로 설정하여 푸터가 아래로 밀리도록 함 */
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #333333;
    color: #fff;
    padding: 0rem 0;
}

header h1 {
    text-align: center;
    margin-bottom: 0.5rem;
}

.n-b-img {
    height: 40px;
    width: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}


nav ul li {
    margin: 0 1rem;
    font-family: '레시피코리아';
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: normal;
}

nav ul li a:hover {
    text-decoration: underline;
}


/*왼쪽 맨위 */
.navbar-brand {
    color: white;
    font-family: 'HS-Regular';
}

.n-b-img {
    height: 40px;
    width: 40px;
}


/*바 아래 구분선 */
.navbar-custom {
    background-color: #3baee5;
    border-bottom: 1px solid #1f4284;
    transition: background-color 0.5s ease; /* 배경색 변화에 부드러운 애니메이션 */

}


.nav-item {
    font-family: "레시피코리아", sans-serif;
    font-size: 16px;
    border-left: 1px solid #1f4284;
    padding-left: 30px; /* 구분선과 텍스트 사이의 여백 설정 */
    margin-left: 20px;
}


/* header 두번째 바 */
.var_bottom {
    background-color: #3baee5;
    padding-top: 15px;
    padding-left: 30px;
    border-bottom: 1px solid #1f4284;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    transition: background-color 0.5s ease; /* 배경색 변화에 부드러운 애니메이션 */


}

.v_bot {
    color: white;
    font-size: 16px;
    padding-left: 5px;
    border-right: 1px solid #1f4284;
    padding-right: 30px; /* 구분선과 텍스트 사이의 여백 설정 */
    margin-right: 20px;
}

.v_bot3 {
    color: white;
}

.right-button {
    margin-left: auto;
    margin-right: 30px;
    margin-bottom: 15px;
    background-color: white;
    font-family: sans-serif;
    color: black; /* 텍스트 색상 */
    border: none; /* 테두리 없음 */
    border-radius: 20px;
    padding: 5px 40px; /* 내부 여백 */
    font-size: 12px; /* 글자 크기 */
    cursor: pointer; /* 마우스 커서 모양 */
}

.var_bottom.scrolled {
    background-color: #4169E1; /* 스크롤 시 배경색 */
}

.navbar-custom.scrolled {
    background-color: #4169E1; /* 스크롤 시 배경색 */
}

/*여기까지 그대로!!! */


/* info_style 메인 시작*/
main {
    padding-top: 10vh;
    margin: 0;
    flex: 1; /* 푸터를 아래로 밀기 위해 flex-grow 설정 */
    font-family: 'GmarketSansMedium', sans-serif;
    background: #3baee5;
    text-align: center;

}


section > h2 {
    color: #3baee5;
    font-family: '레시피코리아', sans-serif;
    font-size: 50px;
    opacity: 0; /* 요소를 투명하게 설정 */
    transform: translateY(30px); /* 요소를 아래쪽으로 이동 */
    transition: opacity 1s ease, transform 1s ease; /* 애니메이션 설정 */
}

section > p {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    color: #1f4284;
    font-family: 'GmarketSansMedium';


}
.e-s-ment{
    opacity: 0; /* 요소를 투명하게 설정 */
    transform: translateY(30px); /* 요소를 아래쪽으로 이동 */
    transition: opacity 1s ease, transform 1s ease; /* 애니메이션 설정 */
    transition-delay: 0.7s;
}




.event-section {
    display: flow-root;
    margin: 0 auto;
    background-color: #f7f7f7;
    padding: 8rem 0;
    height: 1000px;

}

.awards-section {
    margin: 0 auto;
    background-color: #e2f3fa;
    padding: 2rem 0;
}
.a-s-ment{
    opacity: 0; /* 요소를 투명하게 설정 */
    transform: translateY(30px); /* 요소를 아래쪽으로 이동 */
    transition: opacity 1s ease, transform 1s ease; /* 애니메이션 설정 */
    transition-delay: 0.1s;
}




.article {
    float: left;
    width: 900px;
    display: flex;
    margin-left: 60px;
    align-items: center;
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 5rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    opacity: 0; /* 요소를 투명하게 설정 */
    transform: translatex(-70px); /* 요소를 아래쪽으로 이동 */
    transition: opacity 1s ease, transform 1s ease; /* 애니메이션 설정 */
    transition-delay: 1.3s;
}

.article2 {
    float: right;
    width: 900px;
    display: flex;
    margin-right: 60px;
    align-items: center;
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 5rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    justify-content: flex-end;
    opacity: 0;
    transform: translatex(70px); /* 요소를 아래쪽으로 이동 */
    transition: opacity 1s ease, transform 1s ease; /* 애니메이션 설정 */
    transition-delay: 1.7s;
}

.a-e-shark{
    width: 27%;
    rotate: -33deg;
    position: absolute;
    left: -16px;
}
.a-e-fish{
    width: 15%;
    rotate: -42deg;
    position: absolute;
    left: 660px;
}

.article ul li {
    text-align: left;
    font-family: 'TTLaundryGothicB';
}

.article2 ul li {
    text-align: right;
    font-family: 'TTLaundryGothicB';
    list-style-type: none;
}

.details1 {
    padding-left: 30px;
    padding-top: 20px;
}

.details2 {
    padding-right: 30px;
    padding-top: 10px;
}


.event-article {
    flex-direction: row;
}

/*수상부문*/
#awards {
    height: 1000px;
    clear: both;
    padding-top: 120px;
}

.award-article {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.event-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 1rem;

}

.award-image {
    width: 80px; /* 이미지 크기 줄임 */
    height: 80px; /* 이미지 크기 줄임 */
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.article3 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translatex(50%) translateY(+20px); /* 요소를 아래쪽으로 이동 */
    transition: opacity 1s ease, transform 1s ease; /* 애니메이션 설정 */
    transition-delay: 0.7s;
}


/*메인4 css 표부분 그대로 가져옴! */
.main4 {
    padding: 10vh;
    text-align: center;
    margin: 10vh;
    color: ghostwhite;
}

#m4_title {
    font-family: "레시피코리아", sans-serif;
}

#m4_ment {
    font-family: 'GmarketSansMedium';
    color: ghostwhite;
}

/*메인4 표*/


table {
    width: 100%;
    border-collapse: collapse; /* 테두리 겹침 방지 */
    margin: 0 auto;
    color: ghostwhite;
}

.m4-table-3line {
    width: 25%;
}

@font-face {
    font-family: 'Binggrae';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.m4-font {
    font-family: 'Binggrae';
}

th, td {
    border: 1px solid #ddd; /* 테두리 색상 */
    padding: 8px; /* 셀 내 여백 */
    text-align: center;
    border-left: none;
    border-right: none;
}

/* 두 번째 행에만 다른 색상 적용 */
tr:nth-child(2) {
    background-color: #3baee5; /* 두 번째 행 배경색 */
}

td:nth-child(2) {
    background-color: #a6d2e8; /* 두 번째 열 배경색 */
}

th:nth-child(2) {
    background-color: #a6d2e8; /* 두 번째 열 배경색 */
}

tr:nth-child(2) td:nth-child(2) {
    background-color: #3baee5; /* 기본 배경색으로 복원 */
}

#map {
    width: 50%;
}

.map-section {
    display: flow-root;
    margin: 0 auto;
    background-color: #f7f7f7;
    padding: 8rem 0;
}

.map-section p {
    text-align: left;
    transform: translateX(25%);
}


/* 푸터 (main과 동일) */
footer {
    background: #3baee5;
    color: #1f4284;
    font-family: 'Binggrae';
}

.footer {
    margin: 40px;
    padding-top: 20px;
    border-top: 1px solid #000000;
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
}


.footer_left {
    box-sizing: border-box;
    background: #3baee5;
    color: #000000;
    flex: 1;
}

.footer_left a {
    color: black;
    text-decoration: none;
}

.footer_left a:hover {
    color: black;
    text-decoration: none;
}


.footer_cen {
    box-sizing: border-box;
    background: #3baee5;
    line-height: 15px;
    text-align: center;
    font-family: 'HS-Regular';
    color: white;
}

.footer_right {
    font-size: 10px;
    box-sizing: border-box;
    background: #3baee5;
    text-align: right;
    flex: 1;
}


/* 요소가 화면에 나타날 때 애니메이션 적용 */
.fadeIn {
    opacity: 1;
    transform: translateY(0);
}

.fadeIn-article3 {
    opacity: 1;
    transform: translateX(50%) translateY(0);
}