/*폰트 모음집*/
@font-face {
    font-family: 'HS-Regular';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "레시피코리아";
    src: url("../font/Recipekorea.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Binggrae';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 기본 리셋 및 레이아웃 설정 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff8e6;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 전체 화면을 최소 높이로 설정하여 푸터가 아래로 밀리도록 함 */
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #333333;
    color: #fff;
    padding: 0rem 0;
}

header h1 {
    text-align: center;
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}


nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: normal;
}

nav ul li a:hover {
    text-decoration: underline;
}


/*왼쪽 맨위 */
.navbar-brand {
    color: white;
    font-family: 'HS-Regular';
}

.n-b-img {
    height: 40px;
    width: 40px;
}

/*바 아래 구분선 */
.navbar-custom {
    background-color: #3baee5;
    border-bottom: 1px solid #1f4284;
    transition: background-color 0.5s ease; /* 배경색 변화에 부드러운 애니메이션 */

}

/* 관람안내 등등 공지사항 bar css*/

.nav-item {
    font-family: "레시피코리아", sans-serif;
    font-size: 16px;
    border-left: 1px solid #1f4284;
    padding-left: 30px; /* 구분선과 텍스트 사이의 여백 설정 */
    margin-left: 20px;
}

/* header 두번째 바 */
.var_bottom {
    background-color: #3baee5;
    padding-top: 15px;
    padding-left: 30px;
    border-bottom: 1px solid #1f4284;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    transition: background-color 0.5s ease; /* 배경색 변화에 부드러운 애니메이션 */
}

.v_bot {
    color: white;
    font-size: 16px;
    padding-left: 5px;
    border-right: 1px solid #1f4284;
    padding-right: 30px; /* 구분선과 텍스트 사이의 여백 설정 */
    margin-right: 20px;
}

.v_bot3 {
    color: white;
}

.right-button {
    margin-left: auto;
    margin-right: 30px;
    margin-bottom: 15px;
    background-color: white;
    font-family: sans-serif;
    color: black; /* 텍스트 색상 */
    border: none; /* 테두리 없음 */
    border-radius: 20px;
    padding: 5px 40px; /* 내부 여백 */
    font-size: 12px; /* 글자 크기 */
    cursor: pointer; /* 마우스 커서 모양 */
}

.var_bottom.scrolled {
    background-color: #4169E1; /* 스크롤 시 배경색 */
}

.navbar-custom.scrolled {
    background-color: #4169E1; /* 스크롤 시 배경색 */
}


/*===============================================================================*/
main {
    background: #ffffff;
    flex: 1; /* 메인 콘텐츠가 가능한 공간을 모두 차지하도록 설정 */
    padding-top: 8rem;
}

/* 폼 요소 스타일 */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

form input,
form textarea,
form select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    background: #333;
    color: #fff;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

form button:hover {
    background: #555;
}

.container {
    margin-top: 4rem !important;
    width: 100%;
    background-color: #fff8e6;
}

.list-group-item {
    font-family: 'GmarketSansMedium';
    box-sizing: border-box;
    /* 다른 스타일 속성들 */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 0.3rem;
}

.mb-1 {
    font-family: "레시피코리아";
}

.mb-1-1 {
    font-family: 'GmarketSansMedium';
}

.pagination {
    padding-top: 30px;
}


/* 상품 등록 페이지와 동일한 푸터 스타일 */
footer {
    background: #3baee5;
    color: #1f4284;
    font-family: 'Binggrae';
}

.footer {
    margin: 40px;
    padding-top: 20px;
    border-top: 1px solid #000000;
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
}


.footer_left {
    box-sizing: border-box;
    background: #3baee5;
    color: #000000;
    flex: 1;
}

.footer_left a {
    color: black;
    text-decoration: none;
}

.footer_left a:hover {
    color: black;
    text-decoration: none;
}


.footer_cen {
    box-sizing: border-box;
    background: #3baee5;
    line-height: 15px;
    text-align: center;
}

.footer_right {
    font-size: 10px;
    box-sizing: border-box;
    background: #3baee5;
    text-align: right;
    flex: 1;
}


/* 요소가 화면에 나타날 때 애니메이션 적용 */
.fadeIn {
    opacity: 1;
    transform: translateY(0);
}

.fadeIn-m3_left2 {
    opacity: 1;
    transform: translateX(20px) translateY(0) rotate(-15deg);
}


/*미디어 쿼리*/


@media (max-width: 770px) {
    .navbar-expand-sm .navbar-collapse {
        display: BLOCK !important;
    }

    .collapse:not(.show) {
        display: none !important;
    }

    .navbar-expand-sm .navbar-toggler {
        display: BLOCK !important;
    }
}

@media (min-width: 769px) {
    .navbar-expand-sm .navbar-collapse {
        display: flex !important;
        flex-direction: row !important;
    }

    .navbar-expand-sm .navbar-toggler {
        display: none !important;
    }
}

@media (max-width: 768px) and (min-width: 425px) {
    .navbar-brand {
        width: 5%;
        right: 100px;
    }

    .nav ul {
        padding-right: 20px;
    }

    .navbar-toggler {
        float: right;
        margin-top: 5px;
    }

    .navbar-nav {
        width: 70%;
        padding-right: 0;
        flex-direction: column !important;
    }

    .v-bot3-del {
        display: none;
    }

    .container-fluid {
        padding-right: 60px;
        display: block !important;
    }
}

@media (max-width: 425px) {
    .v-bot3-del {
        display: none;
    }
}